body {
  background: radial-gradient(circle at center, #111 0%, #000 80%);
}

.hero {
  margin-top: 120px;  
  color: white;
  justify-content: center;
}

/* Navbar */
.custom-navbar {
    background-color: transparent;
    font-weight: bold;
}


/* Global Styles */
body, p, div {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


